name: Build Docker Image

on:
  push:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: imbytecat/nextjs-notion-starter-kit:latest
          secrets: |
            "REDIS_HOST=${{ secrets.REDIS_HOST}}"
            "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD}}"
